/* style */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    background: url(https://res.cloudinary.com/lizb/image/upload/v1586527083/round_ompdq9.svg) fixed,
                url(https://res.cloudinary.com/lizb/image/upload/v1586527083/bg-green_reijux.svg) fixed,
                url(https://res.cloudinary.com/lizb/image/upload/v1586527083/bg-pink_ppvpvs.svg)fixed,
                url(https://res.cloudinary.com/lizb/image/upload/v1586527083/bg-cross_kxsxwl.svg) fixed;
    background-size: 15%, 15%, 15%, 15%;
    background-position: left 0% top -15%, right -8% top -5%, left -3% bottom -10%, right -10% bottom -3%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    padding: 1em;
    background-color: #062863;
    height: 100vh;
} 

/* container styles */
.container {
    width: 95%;
    margin: 3em auto 5em;
    color: #fff;
    font-family:  verdana, Tahoma,'Roboto','Lato', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.9;
    font-size: .8em;
    text-align: center;
}

.container a img {
    font-size: 3em;
}
/* main styles */
.main {
    margin-top: 3em;
    background-color: #fff;
    color: #333;
    border-radius: 25px 25px 25px 0;
    padding: 3em;
}

.main header {
    margin-bottom: 3em;  
}

.main h1 {
    color: #0D60D8; 
    font-weight: 500%;
}

/* form group */
.form-group {
    text-align: left;
}


.form-group input, button {
    width: 100%;
    padding: 1.8em;
    border-radius: 5px;
    border: none;
    background: #e2e8f0;
    margin-top: 1em;
}

.form-group input[placeholder] {
    opacity: 0.7; 
    font-size: 1em;
}

.form-group input[value], button{
    font-size: 1em;
}

/* .form-content */
.form-content {
    margin-bottom: 2em;
    width: 100%;
    font-weight: bold;
}

.form-content button {
    padding: 2em;
    background-color: #0D60D8;
    color: #fff;
    border-radius: 15px 15px 15px 0;
}


.form-content button:hover {
    background-color: #062863;
    color: #fff;
    padding: 2em;
}

/* footer */
.footer {
    padding-top: 3em;
}

.footer p a {
    text-decoration: none;
    color: #fff;
}


/* media Queries */
@media screen and (min-width: 200px) {
    .container {
        width: 95%;
    }
}


@media screen and (min-width: 400px) {
    .container {
        width: 85%;
    }
}


@media screen and (min-width: 600px) {
    .container {
        width: 75%;
    }
}


@media screen and (min-width: 900px) {
    .container {
        width: 70%;
        font-size: .9em;
    }
}


@media screen and (min-width: 1000px) {
    .container {
        width: 35%;
        font-size: .9em;
    }

}